body {
    background-color: rgb(138, 137, 141) ;
    width: auto;
    height: auto;
    padding: 100px;
    padding-top: 50px;
   
}
h4 {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main-box {
    background-image: url(backgroundimage.jpg);
    width: auto;
    height: 600px;
   
}
#main-bar{
    float: left;
    width: 75%;
    /* background-color: dimgray; */
    
    padding: 40px;
    box-sizing: border-box;
    /* border:1px solid #f4f4f4; */
text-align: justify;
}
#main-barr{
    float: left;
    width: 40%;
    /* background-color: dimgray; */
    
    padding: 10px;
    box-sizing: border-box;
    /* border:1px solid #f4f4f4; */
text-align: justify;
}

#side-bar{
    float: right;
    width: 40%;
    /* background-color: dimgray; */
    padding: 10px;
    box-sizing: border-box;
    /* border:1px solid #f4f4f4;  */
    text-align: justify;
}

#navbar{
    padding: 20px;
    text-align: center;
     background-color: #333;
    color:#fff;}
#navbar ul{
  
    list-style: none;}
#navbar li{
    display:inline;}
#navbar a{
    padding: 20px;
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    
} 
.block{
    
    float:left;
    width:10%;
    /* border:1px solid #f4f4f4; */
    box-sizing: border-box;
    /* padding:10px; */
    /* background-color: dimgray;}  */

#panels{

        align-content: center;
    }

